
html {
  background-color: #C5C5C7;
  color: #CC0000;
  padding: 15px;
  font-size: 16px;
  font-family: arial;
}

body {
  width: 100%;
  height: 100%;
  margin-top: 5%
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  }
  
h1{
font-family: arial;
}

h2{
font-family: arial;
}

h4{
font-family: arial;
}

li{list-style-type: circle;
font-size 18px;
font-family: arial;
}

a {color: #000000
}

.nav-pills{background-color: #808080;
}

#button-blue:hover {box-shadow: inset 4px 4px 4px #FFF;}

#email:active {border:1px solid #3d4f8b !important;
		background: #CC0000;
}

#comment:active {border:1px solid #3d4f8b !important;
		background: #CC0000;
}

#name:active {border:1px solid #3d4f8b !important;
		background: #CC0000;
}


 /* Phones */
 @media only screen and (min-width : 475px) {
 }
 /* Tablets */
 @media only screen and (min-width : 768px) {
 }
 /* Desktops */
 @media only screen and (min-width : 992px) {
 }
/*  Wide Screens */
@media only screen and (min-width : 1200px) {
}