
html {
  margin: 1%;
  color: #080808;
  font-size: 16px;
  font-family: font-family: 'Bitter', serif;
  background-color: #FFFFFF;
 
}

body {
  width: 85%;
  height: 100%;
  margin-top: 2%
  margin-bottom: 10%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #E8E8E8;
  padding: 3%;
  
  }
  
 img.MyPic {float: left;
 padding-right: 30px;
 padding-bottom: 15px;
}
  
h1, h2,h3,h4{
font-family: 'Raleway', sans-serif;
}


li{list-style-type: circle;
font-size 18px;
font-family: font-family: 'Bitter', serif;
}

a {color: #000000
}

.nav-pills{background-color: #808080;
padding: 10px;font-family: 'Raleway', sans-serif;
}

li[role=presentation] {display: inline;
margin-right: 10px;
color: #CC0000;
hover: color: #000000; 

}

#button-blue:hover {box-shadow: inset 4px 4px 4px #FFF;}

#email:active {border:1px solid #3d4f8b !important;
		background: #CC0000;
}

#comment:active {border:1px solid #3d4f8b !important;
		background: #CC0000;
}

#name:active {border:1px solid #3d4f8b !important;
		background: #CC0000;
}

#email {margin: 10px;
padding-bottom: 10px;
}

#name {margin: 10px;
padding-bottom: 10px;
}
#comment {margin: 10px;
padding-bottom: 10px;
}

.submit{margin: 10px;
}


 /* Phones */
 @media only screen and (min-width : 475px) {
 }
 /* Tablets */
 @media only screen and (min-width : 768px) {
 }
 /* Desktops */
 @media only screen and (min-width : 992px) {
 }
/*  Wide Screens */
@media only screen and (min-width : 1200px) {
}